* {
    margin:0;
    padding:0;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
.buttons {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 0.5em;
}
.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.operations {
    display: flex;
    flex-direction: column;
}
.operations button {
    background-color: orange;
    width: 40px;
}
#op-ac {
    background-color: rgb(255, 30, 30);
}
#num-0 {
    grid-column-start: 2;

}